<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hwarang.mapper.profile-mapper">
  <select id="getMemberData" resultType="MemberVO" parameterType="String">
    SELECT * FROM member WHERE id = #{id}
  </select>
  <!-- @@@@@@@@@@@@@@@ my activity @@@@@@@@@@@@@ -->
  <select id="myProductReplyInfo" resultType="ProductVO" parameterType="int">
    SELECT a.product_img, a.product_name, b.reply_regdate
    FROM product a NATURAL JOIN product_reply b
    WHERE member_no = #{member_no}
    ORDER BY b.reply_regdate DESC
  </select>
  <select id="myReplyInfo" resultType="Product_replyVO" parameterType="int">
    SELECT product_rate, reply_content, product_no, reply_regdate
    FROM product_reply
    WHERE member_no = #{member_no}
    ORDER BY reply_regdate DESC
  </select>
  
  <select id="getBrandImg" resultType="String" parameterType="String">
    SELECT DISTINCT brand_img FROM product WHERE brand = #{brand}
  </select>
  
  <!-- 즐겨찾기 상품 가져오기 -->
  <select id="getLikeProduct_no" resultType="int" parameterType="int">
    SELECT product_no 
    FROM product_jjim 
    WHERE member_no = #{member_no}
  </select>
  <select id="getLikeProductVO" resultType="ProductVO" parameterType="int">
    SELECT * FROM product WHERE product_no = #{product_no}
  </select>
  <!-- 즐겨찾기 상품 삭제 -->
  <delete id="deleteLikeProduct" parameterType="Product_jjimVO">
    DELETE FROM product_jjim
    WHERE product_no = #{product_no} AND member_no = #{member_no}
  </delete>
 
  <select id="insertLikeProductVO"  parameterType="java.util.Map">
    INSERT INTO product_jjim VALUES(#{member_no},#{product_no})
  </select>
  <!-- 즐겨찾기 파우치 가져오기 -->
  <select id="getLikePouch_no" resultType="int" parameterType="int">
    SELECT pouch_no 
    FROM pouch_jjim 
    WHERE member_no = #{member_no}
  </select>
  <select id="getLikePouchVO" resultType="PouchVO" parameterType="int">
    SELECT * FROM pouch WHERE pouch_no = #{pouch_no}
  </select>  
  <select id="getLikePouchMemberVO" resultType="MemberVO" parameterType="int">
    SELECT * FROM member 
    WHERE pouch_no = #{pouch_no}
  </select>

  <!-- 즐찾 댓글 리스트 총페이지 -->
  <select id="likeProductTotalPage" resultType="int" parameterType="int">
    SELECT CEIL(COUNT(*)/7.0) FROM product_reply WHERE member_no = #{member_no}
  </select>
  
  <!-- 즐찾 댓글 페이지 나누기 -->
  <select id="prodReplyPageDivision" resultType="Product_replyVO" parameterType="java.util.Map">
    SELECT product_no, reply_content, product_img, product_rate, reply_regdate, product_name, member_no, num
	FROM (SELECT product_no, reply_content, product_img, product_rate, reply_regdate, product_name, member_no, rownum as num
	FROM (SELECT a.product_name, a.product_img, product_no, b.reply_content, b.reply_regdate, b.product_rate , member_no
	      FROM product a NATURAL JOIN product_reply b  
	      WHERE member_no = #{member_no}
	      ORDER BY reply_regdate DESC))
	WHERE num BETWEEN #{start} AND #{end}
  </select>
  
  
</mapper>
